*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: blue;
    width: 100%;
    color: #ffff;
    text-align: center;
    padding: 20px 0;
}

button{
    border: none;
    background-color: blue;
    color: #ffff;
    font-size: 1.57rem;
    margin:20px auto;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 10px #000;

}

form{
    border: 1px solid #434040;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px 10px;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px #000;
}

.input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(201, 220, 220);
    border-radius: 10px;
    padding: 0 20px;
    margin: 10px;
}

.horizontal-line{
    border: 2px solid red;
    width: 100%;
}

.book-card {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  .book-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .book-title {
    margin: 0;
    font-size: 22px;
  }
  
  .book-author {
    margin: 5px 0 0 0;
    font-size: 18px;
  }
  
  .book-body {
    padding: 20px;
    text-align: center;
  }
  
  .book-pages {
    margin: 0;
    font-size: 18px;
  }
  
  .book-status {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2931a0;
    cursor: pointer;
  }
    
  button:hover {
    background-color: #333;
    color: #fffdfd;
  }
  
  .read-status {
    background-color:rgb(145, 145, 226);
  }
